In [1]:
# Dependencies and Setup
%load_ext lab_black
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Run basic calculations
unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data["Price"].mean()
number_purchase = len(purchase_data["Item Name"])
total_revenue = purchase_data["Price"].sum()

# Create summary DataFrame
purchasing_analysis_total = pd.DataFrame(
    {
        "Number of Unique Items": [unique_items],
        "Average Price": [average_price],
        "Number of Purchases": [number_purchase],
        "Total Revenue": [total_revenue],
    }
)

purchasing_analysis_total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Basic calculations for gender demographics
gender = purchase_data[["SN", "Gender"]].drop_duplicates()
total_gender = gender["Gender"].count()

# gender count & gender percentage
male_gender = gender["Gender"].value_counts()["Male"]
female_gender = gender["Gender"].value_counts()["Female"]
non_gender = gender["Gender"].value_counts()["Other / Non-Disclosed"]

male_percent = round((male_gender / total_gender) * 100, 2)
female_percent = round((female_gender / total_gender) * 100, 2)
non_percent = round((non_gender / total_gender) * 100, 2)

# Create DataFrame & set index
gender_demographic = pd.DataFrame(
    {
        "Total Count": [male_gender, female_gender, non_gender],
        "Percentage of Players": [male_percent, female_percent, non_percent],
    }
)
gender_demographic.index = ["Male", "Female", "Other / Non-Disclosed"]
gender_demographic

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_group = purchase_data.groupby(["Gender"])
gender_group["Price"].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
age_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["age_range"] = pd.cut(purchase_data["Age"], age_bin, labels=age_label)
age_count = purchase_data["age_range"].value_counts()
total_age_count = purchase_data["Age"].count()
age_percent = round((age_count / total_age_count) * 100, 2)
age_percent

20-24    46.79
15-19    17.44
25-29    12.95
30-34     9.36
35-39     5.26
10-14     3.59
<10       2.95
40+       1.67
Name: age_range, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame